
.color-picker {
  display: flex;
  align-items: center;
  height: 15px;
  margin-top: 5px;
  
  .color {
    flex: 1;
    border: none;
    height: 100%;
    transition: transform 0.1s;
    border-radius: 0;
  
    &:hover {
      transform: scale(1.1);
    }
    &.selected {
      border: 1px solid #c6b7d9;
    }
  
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
     &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}