.welcome {
  justify-content: center;

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 150px;
    padding-bottom: 25px;
    
    .logo {
      font-family: consolas;
      font-size: 2.4rem;
      white-space: nowrap;
      text-align: center;
      margin-bottom: 7px;
      color: var(--foreground);
      user-select: none;
    }
    .slogan {
      color: var(--brightBlue);
      text-align: center;
      font-size: 0.95rem;
    }
  }
  @media only screen and( max-width: 920px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  }
  .cards {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    
    .card {
      width: 100%;
      max-width: 500px;
      height: 200px;
      outline: 1px var(--app-color) solid;
      margin: 5px;
      padding: 32px;
      box-shadow: rgba(170, 17, 255, 0.05) 0px 1px 0px, rgba(255, 1, 239, 0.1) 0px 0px 8px;
      
      .user-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        .snippet {
          display: grid;
          grid-template-columns: 1fr 1fr;

          .command {
            text-align: left;
            color: var(--brightCyan);
            min-width: 100px;
            margin-right: 10px;
            font-weight: 600;
          }
          .argument {
            color: var(--gray);
          }
        }
      }
    }
  
  }
}
.welcome-header {
  position: relative;
  top: 0;
  z-index: 100;
  background-color: var(--background);
  padding: 15px 20px 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .closedmind-logo {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
  .closedmind-github {
    opacity: 0.7;
    img {
      width: 30px;
    }
  }
}