
.youtube-embed {
  display: flex;
  position: relative;
  margin-top: 5px;
  background-color: var(--black);
  aspect-ratio: 16/9;
  height: fit-content;
  width: fit-content;
  z-index: -10;

  &::before {
    text-align: center;
    display: block;
    position: absolute;
    content: 'Fetching youtube video...';
    font-family: consolas, monospace, var(--fontCascadia);
    left: 0;
    top: 85px;
    opacity: 0.5;
    width: 100%;
    height: calc(100% - 85px);
    background-image: url(https://i.pinimg.com/originals/49/23/29/492329d446c422b0483677d0318ab4fa.gif);
    background-repeat: no-repeat;
    background-position: 50% -95px;
    background-size: 100%;
    z-index: -5;
  }
}
.message-media {
  display: flex;
  overflow-x: auto;
  margin: 4px 0 6px 0;

  .media-wrapper {
    margin-right: 15px;

    img, video {
      height: 18rem;
      border: none;
      width: 20rem;
      // Loading image
      // TODO: customize it
      background-image: url(https://i.pinimg.com/originals/49/23/29/492329d446c422b0483677d0318ab4fa.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      object-fit: contain;
    }
    .other-file-viewer {
      display: flex;
      align-items: center;
      height: 60px;
      background-color: var(--black);
      padding: 4px 10px;

      .file-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;

        svg {
          height: 40px;
        }
        .file-format {
          position: absolute;
          top: 50%;
          color: var(--background);
          font-size: 0.6rem;
          font-weight: 800;
        }
      }
      .content-information {
        max-width: 290px;
        .file-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1.2;
          font-size: 0.8rem;
          color: var(--brightBlue);
          text-decoration: underline 1px solid var(--brightBlue);
          text-underline-offset: 0.15rem;
        }
      }
      .download-file {
        margin-left: 5px;
      }
    }
  }
}
