.chat-sidebar {
  
  .user-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    &__username {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      width: 100%;
      .title {
        color: var(--purple);
        margin-bottom: 5px;
      }
      .username {
        display: flex;
        align-items: center;
        color: var(--gray);
        background-color: var(--black);
        margin-bottom: 10px;
        padding-left: 5px;
        height: 25px;
      }
    }
    .disconnect-user-btn {
      padding: 2px 5px;
      background-color: var(--brightRed);
      border: none;
      width: 100px;
      border-radius: 3px;
      cursor: pointer;
      &:active {
        transform: scale(0.97);
      }
    }
  }
  .chat-information {
    padding: 0 10px;

    .sidebar-section {
      margin-bottom: 10px;
      
      .title {
        color: var(--brightBlue);
        padding-bottom: 2px;
      }
      .content {
        color: var(--gray);
      }
    }
  }
}
