
.reactions-list-container {
  display: flex;

  .reaction-item {
    display: flex;
    align-items: center;
    background-color: var(--black);
    outline: 1px solid #2c2c2f;
    padding: 2px 4px;
    margin: 2px 10px 0 0;
    user-select: none;
    border-radius: 2px;
    transition: opacity 0.2s;
    opacity: 0.9;

    .emote {
      aspect-ratio: 1/1;
      width: 1.2rem;
      font-size: 0.75rem;
      margin-right: 8px;
    }
    .emote-count {
      font-size: 0.8rem;
      color: var(--brightGray);
      margin-right: 3px;
    }

    &.reacted {
      outline-color: var(--purple);
      background-color: #171b22;
      opacity: 1;
      animation: reacted 0.3s alternate;
    }
    &:hover {
      opacity: 1;
      outline-color: var(--brightBlack);

      &.reacted { outline-color: var(--purple) }
    }
    &:disabled {
      opacity: 0.85;
    }
  }
}
@keyframes reacted {
  0%   { scale: 1.0 }
  20%  { scale: 1.2 }
  100% { scale: 1.0 }
}
.react-to-message-btn-container {
  position: relative;

  .emotes-to-react-list {
    background-color: #19191c;
    outline: 1px solid black;
    position: absolute;
    right: calc(100% + 5px);
    top: -5px;
    z-index: 2000;

    .emotes-container {
      display: flex;
      height: 30px;
      padding: 1px 4px;
      align-items: center;
      
      li {
        list-style: none;
        transition: transform 0.1s;
        margin: 1px 0px;
        button {
          display: flex;
          justify-content: center;
          background-color: transparent;
          padding: 2px 4px;

          img {
            width: 1.5rem;
            aspect-ratio: 1/1;
          }
          &:hover {
            img {
              transform: translateY(-2px);
              width: 2.2rem;
            }
          }
        }
      }
    }
  }
}