
.chat-terminal {
  position: relative;

  .chat-options {
    display: flex;
    position: fixed;
    top: 10px;
    right: 20px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background: none;
      color: var(--background);
      font-size: 0.9rem;
      height: 15px;
      border-radius: 0;
    }
  }
  .command-lines {
    padding: 0 5px;

    .command-line {
      min-height: 30px;
      padding: 5px 5px;
      border-bottom: 1px solid black;
      .date {
        margin-right: 5px;
        color: var(--brightBlack);
      }
      .from {margin-right: 5px;}
    }
    .user-message {
      display: flex;
      word-break: break-word;
      white-space: pre-wrap;
      
      .date {
        justify-self: flex-end;
      }
      .from {
        color: var(--app-color);
      }
      .text {
        color: var(--grey);
        font-family: var(--fontLight);
      }
    }
    .user-message.self {
      &.sended {
        opacity: 1;
      }
      &:not(.sended) {
        opacity: 0.5;
      }
    }
    .error-message {
      color: var(--brightRed);
    }
    .server-log {
      color: var(--gray);
    }
  }
}