
.chat-terminal {

  .chat-options {
    display: flex;

    .focusable {
      margin-right: 5px;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;

      background: none;
      color: var(--gray);
      font-size: 1.2rem;
      height: 15px;
      border-radius: 0;
    }
  }
  .command-lines-wrapper {
    max-height: 100%;
    overflow-y: auto;
  }
}