
.chat-terminal {
  
  .command-lines {
    overflow-y: auto;
    padding: 0 5px;

    .command-line {
      min-height: 30px;
      padding: 5px 5px;
      border-bottom: 1px solid black;
      .date {
        margin-right: 5px;
        color: var(--brightBlack);
      }
      .from {margin-right: 5px;}
    }
    .user-message {
      display: flex;
      word-break: break-word;
      
      .date {
        justify-self: flex-end;
      }
      .from {
        color: var(--brightBlue);
      }
      .text {
        color: var(--grey);
        font-family: var(--fontLight);
      }
    }
    .user-message.self {
      &.sended {
        opacity: 1;
      }
      &:not(.sended) {
        opacity: 0.5;
      }
    }
    .error-message {
      color: var(--brightRed);
    }
    .server-log {
      color: var(--gray);
    }
  }
  .command-line-input {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    min-height: 30px;
    background-color: var(--background);
    width: 100%;
    padding: 0 5px 0px 10px;

    .input-wrapper {
      padding-left: 10px;
      width: 100%;

      .command-input {
        resize: none;
        caret-color: var(--purple);
        position: relative;
        color: var(--red);
        width: 100%;
        background: none;
        border: none;
        min-height: 30px;
        &:focus {
          outline: none;
        }
      }
      .autocomplete {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: -1000;
        color: var(--gray);
        top: 0;
        min-height: 30px;
        opacity: 0.6;
        white-space: nowrap;
      }
    }
  }
}