.terminal-input-container {
  display: flex;
  position: sticky;
  bottom: 0;
  background-color: #161517;
  width: 100%;
  padding: 0 5px 0px 10px;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  
  .input-pointer {
    display: flex;
    align-items: center;
    user-select: none;
  }
  .input-wrapper {
    padding-left: 10px;
    width: 100%;
    
    .textarea-input {
      display: flex;
      align-items: center;
      padding: 6px 0;
      position: relative;
      caret-color: var(--purple);
      color: var(--gray);
      width: 100%;
      min-height: 30px;

      background: none;
      border: none;
      resize: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: var(--brightBlack);
      }
    }
    .autocomplete {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: -1000;
      color: var(--brightBlack);
      top: 0;
      min-height: 30px;
      height: 100%;
      opacity: 0.6;
      white-space: pre-wrap;
    }
  }
}