.app-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0 5px;
    height: 20px;
    font-size: 0.8rem;
    color: var(--brightGray);
    background-color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    border-radius: 2px;
    white-space: pre;

    &:not(.showing) {
      visibility: hidden;
    }
  }
  .emote-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0 5px;
    font-size: 0.8rem;
    color: var(--brightGray);
    border-radius: 2px;
    white-space: pre;
    pointer-events: auto;
    top: 0;
    left: 0;

    .emotes {
      background-color: var(--cyan);
      padding: 4px;
    }

    &:not(.showing) {
      opacity: 0 !important;
      pointer-events: none;
    }
  }
}