.app-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0 5px;
    height: 20px;
    font-size: 0.8rem;
    color: var(--background);
    background-color: var(--brightBlack);
    border-radius: 2px;
    white-space: pre;

    &:not(.showing) {
      visibility: hidden;
    }
  }
}