.app {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--background);
  min-height: 100vh;

  .app-content {
    display: flex;
    max-height: calc(100vh);
    flex: 1;
    overflow: auto;
    width: 100%;
    
    .chat-sidebar {
      position: relative;
      min-width: var(--sidebar-width);
      border: 1px var(--app-color) solid;
      margin: 10px 5px 10px 10px;
      overflow: auto;
    }
    .main-window {
      display: flex;
      flex-direction: column;
      border: 1px var(--app-color) solid;
      width: 100%;
      margin: 10px 10px 10px 5px;
      transition: width 1s;
      overflow: auto;
    }
  }
}

.window-header {
  display: flex;
  justify-content: flex-start;
  color: var(--background);
  background-color: var(--app-color);
  margin-bottom: 10px;
  width: 100%;
  height: 17px;
  
  .window-title {
    padding: 0 10px;
    align-items: center;
    font-size: 0.9rem;
    height: 100%;
  }
}