#root {
  display: flex;
  height: 100%;
}
.app {
  flex: 1;
  background-color: var(--background);

  .app-content {
    display: flex;
    justify-content: center;
    max-height: calc(100vh);
    width: 100%;
    height: 100%;
    flex: 1;
    
    .page {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      border: 1px var(--app-color) solid;
      flex: 1;
      transition: width 1s;
      margin: 10px;
      .wrapper {
        padding: 0 10px;
        overflow: auto;
      }
    }
    .modal-window {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: var(--foreground);
      border: 1px var(--app-color) solid;
      width: 500px;
      height: 280px;
    }
    
    .chat-sidebar {
      display: flex;
      flex-direction: column;
      position: relative;
      min-width: var(--sidebar-width);
      border: 1px var(--app-color) solid;
      margin: 10px 5px 10px 10px;
      overflow: auto;
    }
    .chat-terminal {
      position: relative; 
      border: 1px var(--app-color) solid;
      color: var(--foreground);
      margin: 10px 10px 10px 5px;
      width: 100%;
      overflow: auto;
      transition: width 1s;
    }
  }
}

.window-header {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  color: var(--background);
  background-color: var(--app-color);
  margin-bottom: 10px;
  width: 100%;
  height: 17px;
  
  .window-title {
    padding: 0 10px;
    align-items: center;
    font-size: 0.9rem;
    height: 100%;
  }
}