#root {
  display: flex;
  height: 100%;
}
.app {
  flex: 1;
  background-color: var(--background);

  .app-content {
    display: flex;
    max-height: calc(100vh);
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex: 1;
    
    .page {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      border: 1px var(--app-color) solid;
      flex: 1;
      transition: width 1s;
      margin: 10px;
      .wrapper {
        padding: 0 10px;
        overflow: auto;
      }
    }
    .modal-window {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: var(--foreground);
      border: 1px var(--app-color) solid;
      width: 500px;
      height: 280px;
    }
    
    .chat-sidebar {
      display: flex;
      flex-direction: column;
      position: relative;
      border: 1px var(--app-color) solid;
      margin: 10px 0px 10px 10px;
      overflow: auto;
      width: var(--sidebar-width);
      flex: 0 0 var(--sidebar-width);
    }
    .resize-column {
      width: 10px;
      background-color: transparent;
      height: 100%;
      cursor: col-resize;
    }
    .chat-terminal {
      position: relative; 
      border: 1px var(--app-color) solid;
      color: var(--foreground);
      margin: 10px 10px 10px 0px;
      overflow: auto;
      transition: width 1s;
      flex-grow: 1;
    }
  }
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  color: var(--background);
  background-color: var(--app-color);
  margin-bottom: 10px;
  width: 100%;
  height: 18px;
  overflow: hidden;
  
  .window-title {
    display: flex;
    align-items: center;
    height: 100%;
    user-select: none;
    padding: 0 10px;
    font-size: 0.9rem;
  }
}