:root {
  font-size: 16px;

  --sidebar-width: 300px;
  --header-height: 40px;

  --background: #0e0d0e;
  --foreground: #949b92;
  --cursorColor: #4FA160;
  --selectionBackground: #4F5C56;
  --black: #181818;
  --brightBlack: #252527;
  --gray: #6d706e;
  --blue: #4a5579;
  --brightBlue: #2EFAEB;
  --cyan: #3f7962;
  --brightCyan: #3CFAC8;
  --green: #3e8837;
  --brightGreen: #AEFB86;
  --purple: #645385;
  --brightPurple: #A850FA;
  --red: #854d4f;
  --brightRed: #ce7266;
  --white: #C2D6CC;
  --brightWhite: #EBF5E9;
  --yellow: #a89c31;
  --brightYellow: #FAF287;
}

@font-face {
  font-family: 'Cascadia Mono PL';
  font-style: normal;
  src: local('Cascadia Mono PL'), url(./assets/CascadiaMonoPL-Regular.otf) format('opentype');
}

* {
  font-family: 'Cascadia Mono PL', Consolas, monospace;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 0.1px;
}

// Text selection colors
::selection, ::-moz-selection {
  background: var(--selectionBackground);
}
*[contenteditable="true"] {
  display: inline-block;
  outline: 0px solid transparent;
}