:root {
  font-size: 16px;

  --sidebar-width: 300px;
  --app-color: #615970;
  --loading-box-color: #3c3941;

  --background:          #111011;
  --foreground:          #b4b2bb;
  --cursorColor:         #4FA160;
  --selectionBackground: #4f5c5b;
  --black:        #0c0c0c;
  --brightBlack:  #444347;
  --gray:         #84838a;
  --white:        #b5b7c0;
  --brightWhite:  #f5e9f5;

  --red:          #9b595b;
  --brightRed:    #ce7266;
  --yellow:       #d4c85b;
  --brightYellow: #FAF287;
  --green:        #569450;
  --brightGreen:  #86b86b;
  --cyan:         #457763;
  --brightCyan:   #50a891;
  --blue:         #4a5179;
  --brightBlue:   #6f7999;
  --purple:       #584a79;
  --brightPurple: #6c5d8f;

  --red:          #804B4D;
  --brightRed:    #a06264;
  --yellow:       #ad9144;
  --brightYellow: #a49c55;
  --green:        #4E684C;
  --brightGreen:  #5d8c58;
  --cyan:         #3d6656;
  --brightCyan:   #54826f;
  --blue:         #404864;
  --brightBlue:   #587097;
  --purple:       #665074;
  --brightPurple: #7f5394;
  color-scheme: dark;

  --fontCascadia: 'Cascadia Code PL',  consolas, monospace;
}

@font-face {
  font-family: 'Cascadia Code PL';
  font-style: normal;
  src: local('Cascadia Code PL'), url(./assets/CascadiaCodePL.ttf) format('truetype');
}


* {
  font-family: var(--fontCascadia);
  // -webkit-text-stroke: 0.1px;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility  !important;
  -moz-osx-font-smoothing: grayscale  !important;
  scrollbar-width: thin;
  scrollbar-color: var(--brightBlack) var(--black);
  // text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  color: var(--foreground);
  min-width: 320px;
}
body {
  background-color: var(--background);
  overflow: hidden;
  height: 100%;
  min-width: 320px;
}

// Text selection colors
::selection, ::-moz-selection {
  background: var(--selectionBackground);
  color: black;
}

.default       {color: var(--app-color)    !important;}
.black         {color: var(--black)        !important;}
.gray          {color: var(--gray)         !important;}
.white         {color: var(--white)        !important;}
.red           {color: var(--red)          !important;}
.brightRed     {color: var(--brightRed)    !important;}
.yellow        {color: var(--yellow)       !important;}
.brightYellow  {color: var(--brightYellow) !important;}
.green         {color: var(--green)        !important;}
.brightGreen   {color: var(--brightGreen)  !important;}
.cyan          {color: var(--cyan)         !important;}
.brightCyan    {color: var(--brightCyan)   !important;}
.blue          {color: var(--blue)         !important;}
.brightBlue    {color: var(--brightBlue)   !important;}
.purple        {color: var(--purple)       !important;}
.brightPurple  {color: var(--brightPurple) !important;}

.bg-black         {background-color: var(--black)        !important;}
.bg-gray          {background-color: var(--gray)         !important;}
.bg-white         {background-color: var(--white)        !important;}
.bg-red           {background-color: var(--red)          !important;}
.bg-brightRed     {background-color: var(--brightRed)    !important;}
.bg-yellow        {background-color: var(--yellow)       !important;}
.bg-brightYellow  {background-color: var(--brightYellow) !important;}
.bg-green         {background-color: var(--green)        !important;}
.bg-brightGreen   {background-color: var(--brightGreen)  !important;}
.bg-cyan          {background-color: var(--cyan)         !important;}
.bg-brightCyan    {background-color: var(--brightCyan)   !important;}
.bg-blue          {background-color: var(--blue)         !important;}
.bg-brightBlue    {background-color: var(--brightBlue)   !important;}
.bg-purple        {background-color: var(--purple)       !important;}
.bg-brightPurple  {background-color: var(--brightPurple) !important;}

button {
  border: none;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  color: var(--foreground);
  user-select: none;
}
a[href] {
  color: #5a6673;
  font-weight: 400;

  &:visited {
    color: #5a6673;
  }
}